
<h1>Quiz</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:quiz, html: { multipart: true }) do |f| %>
            <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
            <%= f.label :gender %>
                <h6>(Insert F or M)</h6>
                <%= f.text_field :gender, class: 'form-control' %>
            <%= f.label :height %>
                <%= f.text_field :height, class: 'form-control' %>
            <%= f.label :weight %>
                <%= f.text_field :weight, class: 'form-control' %>
            <%= f.label :age %>
                <%= f.text_field :age, class: 'form-control' %>
            <%= f.label :sport %>
                <br>
                <h6>SI</h6><%= f.check_box :sport , class: 'form-control' %>
                <h6>NO</h6><%= f.check_box :sport , class: 'form-control' %>
                <br>
            <%= f.label :sport_time %>
                <%= f.text_field :sport_time, class: 'form-control' %>
            <%= f.label :water %>
                <%= f.text_field :water, class: 'form-control' %>
            <%= f.label :target_weight %>
                <%= f.text_field :target_weight, class: 'form-control' %>
            <br>
            <%= f.submit "Save changes", class: "btn btn-primary" %>
            <br/>
        <% end %>
    </div>
            
</div>
