<% provide(:title, @recipe.title) %>
<h1> <%= @recipe.title %></h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="text-align: center">
            <%= image_tag @recipe.photo.url if @recipe.photo? %>
        </div>
    </div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4>Kcals: <%= @recipe.kcal %></h4>

        <p><b>Ingredients:</b> <%= @recipe.ingredients %></p>

        <p><b>Directions:</b> <%= @recipe.directions %></p>
    </div>
</div>