<div class='row'>
  <div class='col-xs-8'>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Crop Avatar</h3>
      </div>
      <div class="panel-body">
        <%= image_tag @user.avatar_url(:large), id: "cropbox" %>
        <br>
        <%= form_for(@user) do |f| %>
          <% %w[x y w h].each do |attribute| %>
            <%= f.hidden_field "crop_#{attribute}" %>
          <% end %>

          <div class="form-actions">
            <%= f.button :Submit, class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class='col-xs-4'>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Preview</h3>
      </div>
      <div class="panel-body">
        <div style="width:100px; height:100px; overflow:hidden">
          <%= image_tag @user.avatar.url(:large), id: "preview" %>
        </div>
      </div>
    </div>
  </div>
</div>