<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user, html: { multipart: true }) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            
            <%= f.label :name %>
            <% if !@user.fb %>
                <%= f.text_field :name, class: 'form-control' %>
            <% else %>
                <%= f.text_field :name, class: 'form-control', :readonly => true %>
            <% end %>
            
            <%= f.label :nickname %>
                <%= f.text_field :nickname, class: 'form-control' %>

            <%= f.label :email %>
            <% if !@user.fb %>
                <%= f.email_field :email, class: 'form-control' %>
            <% else %>
                <%= f.email_field :email, class: 'form-control', :readonly => true %>
            <% end %>
            
            <% if !@user.fb %>
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>

                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
            <% end %>
            <% if current_user.admin? && current_user!=@user%>
               <%= f.label :banned, class: "checkbox inline" do %>
                <%= f.check_box :banned %>
            <span>Ban user</span>
           <% end %>
           <% end %>
        
            <% if current_user.admin? && current_user!=@user%>
               <%= f.label :admin, class: "checkbox inline" do %>
                <%= f.check_box :admin %>
            <span>Admin</span>
           <% end %>
           <% end %>
            <br>
            
            <%= f.label :is_private, class: "checkbox inline" do %>
                <%= f.check_box :is_private %>
            <span>Private Profile</span>
           <% end %>
            
            <br>
            <h4>Notification Settings</h4>
            <%= f.label :eat_time %>
            <%= f.text_field(:eat_time, :value => !current_user.eat_time ? '' : current_user.eat_time.strftime("%H:%M"), class: 'form-control')%>
            <%= f.label :drink_time %>
             <%= f.text_field(:drink_time, :value => !current_user.drink_time ? '' : current_user.drink_time.strftime("%H:%M"), class: 'form-control')%>
            <%= f.label :workout_time %>
             <%= f.text_field(:workout_time, :value => !current_user.workout_time ? '' : current_user.workout_time.strftime("%H:%M"), class: 'form-control')%>
            <%= f.label :weight_time %>
             <%= f.text_field(:weight_time, :value => !current_user.weight_time ? '' : current_user.weight_time.strftime("%H:%M"), class: 'form-control')%>
        
           <br>
            <%= f.submit "Save changes", class: "btn btn-primary" %>
            <br/><br/>
            
        <h4>Avatar</h4>
            <%= f.file_field :avatar %>
        <% end %>
        <div class="gravatar_edit">
            <% if @user.avatar? %>
            <%= avatar_for(@user, "80") %>
            <% end %>
        </div>
        <div class="google_auth">
            <% if google_auth @user %>
                You have 2FA enabled!
                <%= button_to "Disable Google Authenticator", configure_path, :method => "delete", class: "btn btn-primary" %>
            <% else %>
                Do you want to enable Google Authenticator?
                <%= button_to "Configure Google Authenticator", configure_path, :method => "get", class: "btn btn-primary" %>
            <% end %>
        </div>
        <br/>
        <%= button_to "Delete your account", self_destroy_user_path, action: :self_destroy, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
    </div>
</div>
