<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            
            <%= f.label :name %>
            <% if !@user.fb %>
                <%= f.text_field :name, class: 'form-control' %>
            <% else %>
                <%= f.text_field :name, class: 'form-control', :readonly => true %>
            <% end %>

            <%= f.label :email %>
            <% if !@user.fb %>
                <%= f.email_field :email, class: 'form-control' %>
            <% else %>
                <%= f.email_field :email, class: 'form-control', :readonly => true %>
            <% end %>
            
            <% if !@user.fb %>
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>

                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
            <% end %>
            <%= f.submit "Save changes", class: "btn btn-primary" %>
        <% end %>

        <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="_blank">change</a>
        </div>
        <div class="google_auth">
            <% if google_auth @user %>
                You have 2FA enabled!
                <%= button_to "Disable Google Authenticator", configure_path, :method => "delete", class: "btn btn-primary" %>
            <% else %>
                Do you want to enable Google Authenticator?
                <%= button_to "Configure Google Authenticator", configure_path, :method => "get", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>