<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: 'http://www.foodlocker.com<%= user_path %>',
  }, function(response){});
}
</script>

<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <% if @user.avatar? %>
                    <%= avatar_for(@user, "80") %>
                <% end %>
                <%= @user.name %>
                <%= @user.nickname %>
            </h1>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
        <% if current_user.admin? %>
        <%= link_to 'Edit', edit_user_path %>
        <% end %>
        <% if !@user.is_private || (current_user.following?(@user) && @user.is_private) || current_user?(@user) || current_user.admin?%>
        <section>
            <% if current_user.id != @user.id %>
                <%= link_to 'Private message', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%>
            <% end %>
        </section>
        
        <section>
        Your body mass index category is: <br>
            <% imc = (((current_user.quiz.weight.to_f)/(current_user.quiz.height.to_f*current_user.quiz.height.to_f)).round(2)) %>
            <div>
            <% if imc>=40.00 %>
                <font color = "#ff0000"><%= imc %> Obese Class III (Very severely obese)</font>
            </div>
            <div>
            <% elsif imc>=35.00 && imc<=39.99 %>
                <font color = "#ff6600"><b><%= imc %> Obese Class II (Severely obese)</b></font>
            </div>
            <div>
            <% elsif imc>=30.00 && imc<=34.99 %>
                <font color = "#ff9933"><b><%= imc %> Obese Class I (Moderately obese)</b></font>
            </div>
            <div>
            <% elsif imc>=25.00 && imc<=29.99 %>
                <font color = "#ffcc00"><b><%= imc %> Overweight</b></font>
            </div>
            <div>
            <% elsif imc>=18.50 && imc<=24.99 %>
                <font color = "#00cc00"><b><%= imc %> Normal (healthy weight)</b></font>
            </div>
            <div>
            <% elsif imc>=17.50 && imc<=18.49 %>
                <font color = "#ff9933"><b><%= imc %> Underweight</b></font>
            </div>
            <div>
            <% elsif imc>=16.00 && imc<=17.49 %>
                <font color = "#ff6600"><b><%= imc %> Severely underweight</b></font>
            </div>
            <div>
            <% else %>
                <font color = "#ff0000"><b><%= imc %> Very severely underweight</b></font>
            </div>
            <% end %>
           
        </section>
        
        <section>
            <% kcal=current_user.diary.days.last.breakfast_kcal.to_i+current_user.diary.days.last.snack_kcal.to_i+current_user.diary.days.last.lunch_kcal.to_i+current_user.diary.days.last.dinner_kcal.to_i %>
            <% if (current_user.quiz.kcal.to_i)<=(kcal+200) && (current_user.quiz.kcal.to_i)>=(kcal-200) %>
            <div>
                <font color = "#00cc00">You have reached your daily kcals!</font>
            </div>
            <div>
            <% else %>
                <font color = "#ff0000">You have to eat more!</font>
            </div>
            <% end %>
         
        </section>
        
        <section>
            You have to work harder to reach your target weight: <br>
            <b><%= current_user.quiz.target_weight %></b>
        
        </section>
        
        <section>
            <% if current_user.quiz.sport %>
            <div>
                <font color = "#00cc00">You are doing physical activity! Good Work!</font>
            </div>
            <% else %>
            <div>
                <font color = "#ff0000">You have to work more on your physical activity! Hold on!</font>
            </div>
            <% end %>
        
        </section>
        <section>
            <% if current_user.id == @user.id %> 
                <div id="shareBtn" class="btn btn-success clearfix">Share on Facebook</div>
            <% end %>
        </section>
        <% end %>
    </aside>
    <% if !@user.is_private || (current_user.following?(@user) && @user.is_private) || current_user?(@user) || current_user.admin? %>    
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
            <%= will_paginate @microposts %>
        <% end %>
    </div>
    <% else %>
        <div class="col-md-8">
            <%= render 'follow_form' if logged_in? %>
            <br>
            <br>
            <br>
            <h2>Private Profile</h2>
        </div>
    <% end %>
    
</div>