<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: 'http://www.foodlocker.com<%= user_path %>',
  }, function(response){});
}
</script>

<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <% if @user.avatar? %>
                    <%= avatar_for(@user, "80") %>
                <% end %>
                <%= @user.name %>
                <%= @user.nickname %>
            </h1>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
        <% if current_user.admin? %>
        <%= link_to 'Edit', edit_user_path %>
        <% end %>
        <% if !@user.is_private || (current_user.following?(@user) && @user.is_private) || current_user?(@user) || current_user.admin?%>
        <section>
            <% if current_user.id != @user.id %>
                <%= link_to 'Private message', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%>
            <% end %>
        </section>
        
        <section>
        Indice di massa corporea: 
            <% imc = (((current_user.quiz.weight.to_f)/(current_user.quiz.height.to_f*current_user.quiz.height.to_f)).round(2)) %>
            <% if imc>=40.00 %>
                <%= imc %> Obesità GRAVISSIMA
            <% elsif imc>=35.00 && imc<=39.99 %>
                <%= imc %> Obesità GRAVE
            <% elsif imc>=30.00 && imc<=34.99 %>
                <%= imc %> Obesità moderata
            <% elsif imc>=25.00 && imc<=29.99 %>
                <%= imc %> Sovrappeso
            <% elsif imc>=18.50 && imc<=24.99 %>
                <%= imc %> Regolare
            <% elsif imc>=17.50 && imc<=18.49 %>
                <%= imc %> Leggermente sottopeso
            <% elsif imc>=16.00 && imc<=17.49 %>
                <%= imc %> Visibilmente sottopeso
            <% else %>
                <%= imc %> GRAVE magrezza
            <% end %>
           
        </section>
        
        <section>
            <% kcal=current_user.diary.days.last.breakfast_kcal.to_i+current_user.diary.days.last.snack_kcal.to_i+current_user.diary.days.last.lunch_kcal.to_i+current_user.diary.days.last.dinner_kcal.to_i %>
            <% if (current_user.quiz.kcal.to_i)<=(kcal+200) && (current_user.quiz.kcal.to_i)>=(kcal-200) %>
                Hai raggiunto il tuo obiettivo giornaliero!
            <% else %>
                Devi lavorare sul tuo obiettivo!
            <% end %>
         
        </section>
        
        <section>
            Devi raggiungere il tuo obiettivo!
            <%= current_user.quiz.target_weight %>
        
        </section>
        
        <section>
            <% if current_user.quiz.sport %>
                Stai facendo attività fisica
            <% else %>
                Devi lavorare di più sullo sport
            <% end %>
        
        </section>
        <section>
            <% if current_user.id == @user.id %> 
                <div id="shareBtn" class="btn btn-success clearfix">Share on Facebook</div>
            <% end %>
        </section>
        <% end %>
    </aside>
    <% if !@user.is_private || (current_user.following?(@user) && @user.is_private) || current_user?(@user) || current_user.admin? %>    
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
            <%= will_paginate @microposts %>
        <% end %>
    </div>
    <% else %>
        <div class="col-md-8">
            <%= render 'follow_form' if logged_in? %>
            <br>
            <br>
            <br>
            <h2>Private Profile</h2>
        </div>
    <% end %>
    
</div>