<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: 'http://www.foodlocker.com<%= user_path %>',
  }, function(response){});
}
</script>

<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <% if @user.avatar? %>
                    <%= avatar_for(@user, "80") %>
                <% end %>
                <%= @user.name %>
                <%= @user.nickname %>
            </h1>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
        <% if current_user.admin? %>
        <%= link_to 'Edit', edit_user_path %>
        <% end %>
        <% if !@user.is_private || (current_user.following?(@user) && @user.is_private) || current_user?(@user) || current_user.admin?%>
        <section>
            <% if current_user.id != @user.id %>
                <%= link_to 'Private message', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%>
            <% end %>
        </section>
        <section>
            <% if current_user.id == @user.id %> 
                <div id="shareBtn" class="btn btn-success clearfix">Share on Facebook</div>
            <% end %>
        </section>
        <% end %>
    </aside>
    <% if !@user.is_private || (current_user.following?(@user) && @user.is_private) || current_user?(@user) || current_user.admin? %>    
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
            <%= will_paginate @microposts %>
        <% end %>
    </div>
    <% else %>
        Private Profile!
    <% end %>
    
    
</div>