<p>
    <%= @day.date %>
    <%= @day.breakfast %>
    <%= @day.breakfast_kcal %>
    <%= @day.snack %>
    <%= @day.snack_kcal %>
    <%= @day.lunch %>
    <%= @day.lunch_kcal %>
    <%= @day.dinner %>
    <%= @day.dinner_kcal %>
    <%= @day.note %>
    
</p>

<%= link_to 'Back', days_path %>