<p>
    <h2><%= @day.date.strftime("%d %B %Y") %></h2><br>
    <% if (!@day.breakfast && !@day.lunch && !@day.dinner && !@day.snack && !@day.breakfast_kcal && !@day.lunch_kcal && !@day.dinner_kcal && !@day.snack_kcal) || (@day.breakfast.empty? && @day.lunch.empty? && @day.dinner.empty? && @day.snack.empty? && @day.breakfast_kcal.empty? && @day.lunch_kcal.empty? && @day.dinner_kcal.empty? && @day.snack_kcal.empty?) %>
        <h5 style="text-align: center;">Nothing to see here.</h5>
    <% else %>
        <div class="row" id="daily-stats">
            <div class="col-md-6 col-md-offset-3 daily-stats">
                <% if @day.breakfast %>
                    <% if !@day.breakfast.empty? %>
                        <b>Breakfast:</b> <%= @day.breakfast %>
                    <% end %>
                <% end %>
                <% if @day.breakfast_kcal %>
                    <% if !@day.breakfast_kcal.empty? %>
                        (<%= @day.breakfast_kcal %> kcal)
                    <% end %>
                <% end %>
                <% if @day.snack %>
                    <% if !@day.snack.empty? %>
                        <br><b>Snack:</b> <%= @day.snack %>
                    <% end %>
                <% end %>
                <% if @day.snack_kcal %>
                    <% if !@day.snack_kcal.empty? %>
                        (<%= @day.snack_kcal %> kcal)
                    <% end %>
                <% end %>
                <% if @day.lunch %>
                    <% if !@day.lunch.empty? %>
                        <br><b>Lunch:</b> <%= @day.lunch %>
                    <% end %>
                <% end %>
                <% if @day.lunch_kcal %>
                    <% if !@day.lunch_kcal.empty? %>
                        (<%= @day.lunch_kcal %> kcal)
                    <% end %>
                <% end %>
                <% if @day.dinner %>
                    <% if !@day.dinner.empty? %>
                        <br><b>Dinner:</b> <%= @day.dinner %>
                    <% end %>
                <% end %>
                <% if @day.dinner_kcal %>
                    <% if !@day.dinner_kcal.empty? %>
                        (<%= @day.dinner_kcal %> kcal)
                    <% end %>
                <% end %>
                <% if @day.note %>
                    <% if !@day.note.empty? %>
                    <br><b>Note:</b> <%= @day.note %>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</p>

<%= link_to 'Back', days_path %>