<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <% if logged_in? || request.original_url != root_url %>
            <%= link_to image_tag("Food_Locker_mini.png", alt: "Food Locker", :height => "50%", :width => "50%"), root_path, id: "logo" %>
        <% end %>
        <nav>
            <% if request.original_fullpath != new_quiz_path %>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home",   root_path %></li>
                <% if logged_in? %>
                    <li><%= link_to "Recipes", recipes_path %></li>
                <% end %>
                    <li><a href="/map">GPS</a></li>
                <% if logged_in? %>
                    <li><%= link_to "Users", users_path %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Profile", current_user %></li>
                            <li><%= link_to "Messages", conversations_url %></li>
                            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                            <% if current_user.admin? %>
                                <li><%= link_to "Special options", specialoptions_url %></li>
                            <% end %>
                            <li><%= link_to "Quiz", edit_quiz_path(current_user) %></li>
                            <li><%= link_to "Diary", edit_diary_path(current_user) %></li>
                            <li><%= link_to "Notifications", notifications_path %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Log out", logout_path, method: :delete %>
                            </li>
                        </ul>
                    </li>
                <% else %>
                    <li><%= link_to "Log in", login_path %></li>
                <% end %>
            </ul>
            <% end %>
        </nav>
    </div>
</header>


<%#= link_to image_tag("FoodLocker.png", alt: "FoodLocker", :size => "50x50") ciao %>